modules = ["php-8.4", "nodejs-20", "postgresql-16"]
[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "PHP Test Server"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "MySQL Server"

[[workflows.workflow]]
name = "PHP Test Server"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd jrk && php -S 0.0.0.0:5000 router.php"
waitForPort = 5000

[[workflows.workflow]]
name = "MySQL Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "mysqld --defaults-file=$HOME/my.cnf --user=$USER --skip-grant-tables"

[workflows.workflow.metadata]
outputType = "console"

[[ports]]
localPort = 3306
externalPort = 8081
exposeLocalhost = true

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 36343
externalPort = 3002

[[ports]]
localPort = 37883
externalPort = 8008

[[ports]]
localPort = 38131
externalPort = 3000

[[ports]]
localPort = 38385
externalPort = 5000

[[ports]]
localPort = 39035
externalPort = 8080

[[ports]]
localPort = 39195
externalPort = 3003

[[ports]]
localPort = 41511
externalPort = 6000

[[ports]]
localPort = 41599
externalPort = 8000

[[ports]]
localPort = 43543
externalPort = 4200

[[ports]]
localPort = 43577
externalPort = 3001

[[ports]]
localPort = 44731
externalPort = 6800

[[ports]]
localPort = 44871
externalPort = 8099

[[ports]]
localPort = 46405
externalPort = 5173

[nix]
channel = "stable-25_05"
packages = ["zip", "unzip", "imagemagick", "mariadb"]
