[mysqld]
datadir=/home/runner/mysql-data
port=3001
bind-address=127.0.0.1
skip-networking=0
skip-grant-tables
skip-name-resolve
default-storage-engine=InnoDB
sql_mode=NO_ENGINE_SUBSTITUTION
user=runner

[client]
port=3001
